@CHARSET "ISO-8859-1";

.contenu {
	backgroud-color : #FFF;
	border : 1px solid ;
	margin : auto;
}
.btn-group {
	margin :19px 76px;
}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
    
.user-image img { 
    clear: both; 
    margin: auto; 
    position: relative;
    width: 60px;
    height: 60px !important;
    padding-top: 10px;
}
    